html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.head-img{
  background-image: url('../VIEWS/images/img2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  height: 50vh;
  width: 100vw;
  margin-top: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-img h1{
  font-size: 8rem;
}

.body {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3rem;
  font-family: "Inter", sans-serif;
}
.grid {
  grid-gap: 3rem;
  display: flex;
  flex-direction: row;
}
.opens{
display: block;
}
.openes{
  display: none;
  }
.spinners {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid  #112936;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin  1.5s linear infinite;
  margin: 0 auto;

}
.spinnerss {
display:flex;
align-items: center;
justify-items: center;
padding-top: 50%;


}
#ul {
  clip-path: none !important;
  background-color: white !important;
  color: 112936;
}
.body .cardSection {
  background-Color: #0e4166;
  background-image: url('../VIEWS/images/bg.svg');
  margin-top: 10px !important;
  gap: 4%;
  align-items: center !important;
  justify-content: center !important;
  box-shadow: 1px 0.5rem 2rem 5px rgb(0 0 0 / 53%);
    background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
}

iframe{
  border-radius: 6px;
  margin: 5%;
}

.mapcontent {
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.grid__item {
  border-radius: 0.4rem;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
}
.grid__item:hover {
  transform: translateY(-0.9%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.card {
  height: 501px !important;
  scroll-behavior: smooth;
  width: 240px !important;  background: rgba(157,155,176,0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(157,155,176,0.25);
  border-radius: 6px;
}

.card__img {
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
}
.card__content {
  padding: 0rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__header {
  font-size: 3rem;
  font-weight: 520;
  color: var(--main-c);
  margin-bottom: 1.5rem;
  text-align: center;
}

.card__btn {
  width: 50%;
  padding: 1.2rem;
  margin-top: 5rem;
  box-shadow: 1px 0.5rem 2rem 5px rgb(0 0 0 / 53%);;
  text-align: center;
  background-color: var(--btn);
  border: none;
  border-radius: 3px;
  transition: 0.4s;
  cursor: pointer;
}
.card__btn span 
{
  margin-left: 1rem;
  transition: 0.2s;
}
.card__btn a
{
 color:white;
}

.dispage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* DisplayPage.css */
.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.iframe-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.AboutLocation {
  background: white;
 
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
 margin-left: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 15px 0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  z-index: 5;
}
.wrapper{

  margin-top: 100%;
  position: fixed;
  bottom: 0;
  padding-top: 23px;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 60px;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}
.more {
  margin-right: 4%;
}
.map {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}
p#texts{
margin-bottom: 0rem bottom;
}
.handleToggling {
  display: none;
}
.mapdescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.mapdescriptions {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* align-content: stretch; */
  flex-direction: row;
}
#minitext {
  font-weight: 700;
  font-size: 1.6rem;
}
.rounded {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#rounde {
  width: 100px;
  height: 100px;
  padding: 10px 20px;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  align-content: center;
  justify-content: center;
  align-items: center;
}
#roundes {
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  align-content: center;
  justify-content: center;
  /* align-items: center;*/
}
#arrowTop {
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  align-content: center;
  justify-content: center;
  z-index: 5;
  width: 42px;
  position: fixed;
}
/* align-items: center;*/

@media (max-width: 60em) {
  .grid {
    grid-gap: 3rem;
    margin-top: 2em;
  }
  .card{
    width: 301px !important;
    margin-top: 20px !important;
  }
  .card__btn {
    margin-top: 2rem;
  }
  .cardSection {
    margin-top: 22px !important;
    margin-right: 49px;display: flex;
    flex-direction: column;
  }
  .profilecard {
    width: 485px;
  }
  .iframe-container {

    height: 100vh;
   
  }
  .opens{
    display: none;
    }
  .openes{
    display: none;
    }
.openModal{
  display: block;
  }
  .AboutLocation {
    width: 100%;
    max-width: 100%;
    height: 46px;
    /* border-top-right-radius: 20px; */
    /* border-top-left-radius: 20px;*/
  }
}

@media(max-width: 1034px){
  /* .cardSection{
    display: grid !important;
    grid-template-columns: 1fr 1fr  !important;
 
  }

  .card{
    width: 80%;
   
  }

  .cardSection div:nth-child(4){
background-color: red;
  } */
}

@media(max-width: 791px){
  /* .card{
    width: 80% !important;
   
  }

  .cardSection{
    margin: 0 !important;
    gap: 0 !important;
  } */
/* 
  .body{
    padding: 0;
  }
 */}

@media (max-width: 965px) {
  .head-img h1{
    font-size: 5rem !important;
  }
}

@media (max-width: 600px){
  .head-img h1{
    font-size: 4rem !important;
  }
}

@media (max-width: 472px){
  .head-img h1{
    font-size: 3rem !important;
  }

  .head-img{
    height: 40vh;
  }
}

@media (max-width: 342px){
  .head-img h1{
    font-size: 2rem !important;
  }
}

.menu:hover{
background-color: rgb(0, 145, 255);
color: #fff !important;
}