/* NotificationsComponent.css */
.notification-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: -10px;
  position: fixed;
  z-index: 2;
  width: fit-content;
  margin: 64px;
  }
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #112936;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    margin-top: 20px;
  }
  .notification-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .notification-card ul {
    list-style-type: none;
    padding: 0;
    display: contents;
  }
  
  .notification-content {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
    padding: 7px 0;
    width: 348px;
    /* margin-right: 30px; */
    align-items: center;
  }
#btn{
 display:flex;
 margin-left:20px;
}
  .notification-sender {
    font-weight: bold;
  }
  
  .notification-location {
    flex-grow: 1;
    margin-left: 10px;
  }
  .icons a{
   color:white;
      }
  @media (max-width: 60em)  {
   .notification-card {
    min-width: 100vw;
    margin-top: 100px;
    margin-left: 0px;
      }
  }