.text {
  font-family: poppins, sans-serif;
  color: white;
  padding-inline: 15px;
  font-size: 36px;
  font-weight: 800;
  width: 700px;
  text-transform: capitalize;
}
.landingPage{
 overflow-x:hidden;
}
.box {
  background-image: url("../images/silhouette-men-hiking-mountain-peak-sunset-generative-ai.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  min-width:100vw;
  height: 100vh; /* Adjust the height as needed */
  align-items: center;
  place-items: center;
  min-height: 100vh;
  text-align: center;
  padding-top: 125px;
}

.login-button,
.Register-button {
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.Register-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
.login-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
.login-button {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
.btn a {
  margin-left: 25px;
}

.image {
  float: right;
  height: 50%;
  width: 70%;
  margin-right: 10%;
  z-index: 1;
  position: relative;
}

@keyframes slide-in {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    letter-spacing: 6em;
    opacity: 0;
  }
  40% {
    opacity: 6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .box {
 
    z-index: -1;
    width: 100%;
  }
  .text,
  .image {
    width: 300px;
    text-align: center;
    margin-top: 4%;
  }
}
