
.bg{
  background-image: url('../images/world1.jpg');
  background-size: cover;
  background-position: center;
  height: 170vh;
  margin-top: -2rem;
}

.popular{
  padding: 0 10rem;
  background: rgba(157,155,176,0.5);
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(10px);
border: 1px solid rgba(157,155,176,0.25);
margin: 3rem 3rem ;
margin-bottom: 0;
/* padding-bottom: 10rem; */
height: 80vh;
margin-top: 4rem !important;
width: 90%;
margin: 5%;
}

.section-title{
  color: var(--main-c);
  font-size: 30px;
  font-weight: 550;
  margin-top: 2rem !important;
}

.section-text{
  color: var(--sub-c);
  font-size: 14px;
  font-weight: 540;
}

.popular-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}


.left{
display: flex;
  align-items: center;
justify-content: center;
width: 50%;
/* width: 75rem;
height: 30rem; */
}

.box3, .box2, .box1{
  height: 28rem;
  width: 22%;
border-radius: 1rem;
margin: -1rem;
object-fit: cover;
}

.box2{

  z-index: 2;
  height: 34.5rem;
  width: 26.5rem;
}



.box3:active, .box3:hover {
  z-index: 2;
  height: 34.5rem;
  width: 26.5%;
}


.box1:active, .box1:hover{
  z-index: 3;
  height: 34.5rem !important;
  width: 26.5% !important;
  margin-right: -2rem;
}
.card-imgs{
  margin: 0;
  margin-top: 3rem;
}

.card-imgs img{
  height: 30rem !important;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 1px 0.5rem 2rem 5px rgb(0 0 0 / 53%);;
  width: 90%;
}

.card-subtitle{
color: var(--btn);
font-size: 13px;
}

.card-title{
  color: var(--main-c);
}

.card-text{
  color: var(--sub-c);
  font-size: 13.5px;
  font-weight: 550;
  max-width: 30rem;
}


.cardSection{
  display: flex;
  padding: 10rem 10rem;
    justify-content: space-between;
  align-items: center;
  background: rgba(157,155,176,0.5);
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(10px);
border: 1px solid rgba(157,155,176,0.25);
margin: 5%;
position: relative;
width: 90%;

}
.cardRow{
  display: grid;
  grid-template-columns: 1fr 1fr;
gap: 3rem;
}
.cardContain{
  display: flex;
  background: rgba(157,155,176,0.5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 1px solid rgba(157,155,176,0.25);
box-shadow: 1px 0.5rem 2rem 5px rgb(0 0 0 / 53%);;
  border-radius: 5px;
  height: 13rem !important;
  align-items: center;
}

.icon{
  color: var(--milky);
  width: 4rem;
  margin-right: 2rem;
}

.textBox{
  border-left: 1px solid var(--milky);
  padding-left: 5px !important;
}


.textBox h2{
  text-align: start;
  color: var(--main-c);
}

.textBox p{
  text-align: start;
  color: var(--sub-c);
  font-size: 13px;
  max-width: 15rem;
  font-weight: 510;
}


.images{
  height: 60vh;
  width: 45vw;
  z-index: 1;
  object-fit: cover;
  border-radius: 1rem;
} 


.right{
  width: 50%;
}

.tt{
text-align: start;
color: var(--main-c);
font-size: 30px;
}

.ttp{
text-align: start;
color: var(--sub-c);
font-size: 14px;
max-width: 30vw;
font-weight: 550;
margin-bottom: 8px;
}

.change{
  background-image: url(../images/hero-banner.jpg), #3333331a;
  border-bottom: 1px solid var(--btn);
  border-top: 1px solid var(--btn);
  margin: 4rem 10rem;
}

.change .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-t{
  color: var(--main-c);
  text-align: center;
  max-width: 50vw;
  font-size: 35px;
}

.hero-text{
  color: var(--sub-c);
  text-align: center;
  max-width: 32vw;
  font-size: 13px;
}

.gallery{
  padding: 6rem 10rem;
  background: rgba(157,155,176,0.5);
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(10px);
border: 1px solid rgba(157,155,176,0.25);
margin: 5rem;
}

.containera h2{
 color: var(--main-c);
 font-size: 30px;
}

.containera p{
  color: var(--sub-c);
  font-size: 13px;
  max-width: 35vw;
 }

 .grid img{
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 1px 0.5rem 2rem 5px rgb(0 0 0 / 53%);;
 }


 .grid-container{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 justify-content: space-between;
align-items: center;
gap: 1rem !important;
  height: 71rem;
 }

 .grid{
  display: grid !important;
  grid-template-rows: 1fr 1fr !important;
  gap: 1rem !important;
 }

 .g-img1, .g-img2{
  height: 35rem !important;
   }
  
   .g-img2{
    height: 25rem !important;
   }
  
   .g-img3{
  height: 25rem !important;
  margin-top: -10rem;
   }
  
   .g-img4{
    height: 35rem !important;
    margin-top: -10rem;
   }


   .bg2{

    background-color: #0e4166;
    /* background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166); */
    background-image: url('../images/world1.jpg');
    background-size: cover;
    background-position: center;
   
   }



   /*================MEDIA QUERY============ */


   @media(max-width: 1195px){
    .icon{
      width: 3rem;
      margin-right: 1rem;
    }

    .textBox p{
      font-size: 12px;
  max-width: 14rem;
    }

    .cardRow{
    gap: 1rem;
    }
    .cardSection, .popular{
      padding: 8rem 2rem;
    }
   }


   
   @media(max-width: 965px){

  .popular{
padding: 0 2rem;
  }
.left{
  display: none;
}

.right{
  width: 80%;
}

.cardSection{
  justify-content: center;
}

.tt{
  text-align: center;
}

.ttp{
  text-align: center;
  max-width: 100%;
}

  .bg{
        height: 160vh;
    }

    .containera p{
      max-width: 65vw;
     }

     .gallery{
      padding: 6rem 5rem;
      margin: 3rem;
     }

      .grid img{
        border-radius: 5px;
      }


   }
   

     @media(max-width: 883px){
      .g-img1, .g-img2{
        height: 30rem !important;
         }
        
         .g-img2{
          height: 20rem !important;
         }
        
         .g-img3{
        height: 20rem !important;
         }
        
         .g-img4{
          height: 30rem !important;
         }

         .grid-container{
          height: 100%;
         }
     }  

   @media(max-width: 511px){

    .bg{
        height: 140vh;
    }
    .right{
      width: 100%;
    }

    .tt{
      font-size: 18px;
    }

    .ttp{
      font-size: 12px;
    }

    .cardSection{
      margin: 2.5%;
      padding: 2rem 0.2rem;
      width: 95%;
    }

    .containera p{
      max-width: 85vw;
     }

     .gallery{
      padding: 3rem 2rem;
      margin: 2rem;
     }

     .g-img1, .g-img2{
      height: 25rem !important;
       }
      
       .g-img2{
        height: 15rem !important;
       }
      
       .g-img3{
      height: 15rem !important;
       }
      
       .g-img4{
        height: 25rem !important;
       }
   }

   @media(max-width: 486px){
    .card-text{
      display: none;
    }

    .containera p{
      max-width: 100%;
     }

     .gallery{
      padding: 1rem 0.8rem;
      margin: 0.8rem;
     }

   }