/* Base styles for the footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.footer-links {
  display: flex;
}

.footer-links a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #4caf50;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;

  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #4caf50;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .footer-links a {
    margin-right: 0;
    padding-left: 10px;

    margin-bottom: 10px;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer-bottom p {
    margin-bottom: 10px;
    font-size: 10px;
  }
}
