.bodyHeading {
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  background: rgb(255, 255, 255);
  z-index: -3;
}
section {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cardSection {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
}
.card {
  background: rgb(255 255 255 / 89%);
  box-shadow: 3px 3px 15px 0px #b9c1c5;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  height: 404px;
  margin-left: 70px;
  margin-top: 10px;
  width: 400px;

  border: 1px solid transparent;
}

.card p {
  color: grey;
  font-weight: 500;
  font-size: 16px;
  margin-top: 12px;
  text-align: center;
  margin-bottom: 10px;
}

.textBox {
  width: 300px;
  text-align: center;
  margin-top: 20px;
  margin-left: 55px;
  word-wrap: break-word;
}

h1 {
  color: grey;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.change {
  font-weight: 700;

  font-size: 20px;
  position: relative;
  display: inline-block;
  margin-top: 10%;
  margin-left: 10%;
  width: 100%;
}
.change img {
  width: 100vw;

  display: block;
  height: auto;
  object-fit: cover;
  z-index: -2;
}
.change p {
  top: 20%;
  left: 40%;
  position: absolute;
  font-size: 35px;
  z-index: 5;
  text-align: center;
  color: #112936;
  transform: translate(-50%, -50%);
}

p {
  text-align: center;
  margin-top: 40px;
}
.step p {
  margin-top: 10px;
}
h2 {
  font-family: poppins;
  font-size: 5em;
  text-align: center;
  text-transform: capitalize;
  white-space: wrap;
  margin-top: 35px;
  color: #112936;
  text-align: center;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}



@media (max-width: 768px) {
  h2 {
    font-family: poppins;

    font-size: 2em;
    text-transform: capitalize;
    white-space: wrap;
    text-align: center;
  }

  .cardSection {
    flex-direction: column;
  }
  .card {
    margin-left: 0%;
    width: 300px;
  }
  .textBox {
    margin-left: auto;
  }
  .step {
    flex-wrap: wrap;
    align-items: center;
    width: -webkit-fill-available;
  }
  .how-it-works-steps {
    margin-left: auto;
  }
  .change p {
    font-size: 12px;
  }
  .how-it-works-image {
    margin-top: 50%;
  }
}
